{% extends 'Base.html' %}
{% load static %}

{% block head %}
    <img src="{% static 'Images/pic5.png' %}" width="67" height="67">
    <h2>Облачные технологии</h2>
{% endblock %}

{% block text1 %}
<p>Облачные технологии — это комплекс технологий (физические и программные средства, плюс набор инструментов), которые
     создают вычислительные мощности, используемые для конкретных задач. Например, для хранения и обработки данных, обучения
      моделей ИИ или для разработки приложений.</p>   
{% endblock %}

{% block text2 %}
<p>Суть облачных технологий состоит в том, что с их помощью удается предоставлять обширный повсеместный доступ к любым конфигурациям
     вычислительных ресурсов. Имеются в виду серверы, сети, приложения, хранилища и т.п. Всё это можно легко и быстро взять
      в использование либо освободить. Управление абсолютно несложное, при этом не требуется непосредственного контакта с провайдером.</p>  
{% endblock %}