{% extends 'Base.html' %}
{% load static %}

{% block head %}
    <img src="{% static 'Images/pic1.png' %}" width="67" height="67">
    <h2>Программирование</h2>
{% endblock %}

{% block text1 %}
<p>Технология программирования — это совокупность методов и средств для разработки программного обеспечения, а также аспекты
     эксплуатации и сопровождения. </p>   
{% endblock %}

{% block text2 %}
<p>IDE (Integrated Development Environment) — интегрированная среда разработки, набор ПО для создания кода. В него входят
     специальный редактор для программирования и ряд инструментов, которые помогают запускать, тестировать и отлаживать код.</p>  
{% endblock %}
